.stagingText {
  font-family: sans-serif;
  text-align: center;
  font-size: 3vh;
  color: darkgrey;
}

.centeredPicContainer {
  display: flex;
  justify-content: center;
}

.grumpyPic {
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
}

.tapCat {
  height: 67vw;
  margin-left: auto;
  margin-right: auto;
}
